.color{
    color: white;
}
.heading{
    font-size: 250%;
    text-align: center;
    margin: 2%;
}

.text{
  
    margin: 2%;
    font-size: 150%;
}
.details{
    
    margin: 2%;
    font-size: 125%;
}