<div class='color'>


  <div class='heading'>
    LP3 Assignment - Web Development
  </div>
  <div class='text'>
    <b><u>Problem</u></b>:<br>Create a personal website using full-stack development which uses a REST API to tell
    system date and time by an API call. The website should work on the localhost.
  </div>
  <div class='details'>
    <b><u>Solution Details:</u></b><br>
    <ul>
      <li><b>Frontend</b>: Angular</li>
      <li><b>Backend</b>: Express-Node.js</li>
      <li><b>Localhost port</b>: 8888</li>
      <li><b>Site running on</b>: http://localhost:8888/</li>
      <li><b>REST API call</b>: http://localhost:8888/api/datetime </li>
    </ul>
  </div>
  <div class='dateTime'>
    <app-date-time></app-date-time>
  </div>
</div>