<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Hub</title>
</head>
<body>
<h1>WELOCOME</h1>
<h5>Time and Date<div id="date"></div></h5>
    <div>
        <div>
            <a class="logint" href="logout.php"></a><br>
            <a class="cart" href="cart.php"><br>
        </div>
        <a class="product" href="product.php">Buy Products</a><br>
    </div>
<footer>
            <a id="footer" href="#">About us</a><br>
            <a id="footer" href="#">Contact us</a><br>
            <a id="footer" href="#">Copyrights</a><br>
</footer>
    <script>

    //API call for the date and time
    fetch('http://api.timezonedb.com/v2.1/get-time-zone?key=RR0FDMN5ZRBP&format=json&by=position&lat=20.5937&lng=78.9629')
    .then(res => res.json())
    .then(data => {
         console.log(data.formatted);   
         const a = document.getElementById('date').innerHTML =data.formatted;
         alert(a);
});
 
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>


