{% extends "base.html" %}
{% block title %}ABOUT{% endblock %}
{% block content %}
<h1 style="text-align: center;">ABOUT:</h1>
<ul style="text-align: center; list-style-position: inside; font-weight: bold; font-size: large;">
    <li>
        I'm Alan and I'm in my First Year of Computere Engineering.
    </li>
    <li>
        This is a Simple website which uses Flask Framework On The Backend.
    </li>
    <li>
        It Also Uses Bootstrap for The Navigation Bar on The Top.
    </li>
    <li>
        I have kept is as Minimalistic as possible.
    </li>
    <li>
        Make Sure Your Are Connected To the Internet So as To Be able To Render the Bootstrap.
    </li>
    <li>
        You Can Visit the home Page by '/' or '/home".
    </li>
    <li>
        Also The Time Gets Updated On Every Page Refresh.
    </li>
</ul>
{% endblock %}